app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
docker-compose.yml

# Ignore all contents in the Stage_two folder
/Stage_two/*

# Except for terraform.tfstate
!/Stage_two/terraform.tfstate
